
:root{
    --cor-primaria: #12372A;
    --cor-secundaria: #436850;
    --cor-terciaria: #ADBC9F;
    --cor-quartenaria: #FBFADA;
}
*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    
}
main{

}